
@if (options.center) {
  <div style="height: 500px;"
     leaflet 
     [leafletOptions]="options"
     [leafletLayers]="layers"
     (leafletClick)="onMapClick($event)"
  >
</div>
} @else {
  <h1>You need to allow location permission first</h1>
}

<h2>Selected Coordinates:</h2>
@if (selectedCoordinates.length > 0) {
  <table>
    <thead>
      <tr>
        <th>S/N</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
    </thead>
    <tbody>
      @for (coord of selectedCoordinates; track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ coord.lat }}</td>
          <td>{{ coord.lng }}</td>
        </tr>
      }
    
    </tbody>
  </table>
} @else {
  <h4>No coordinates selected yet.</h4>
}

